<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>MIDI Scales Player</title>
	<!-- polyfill -->
	<script src="midi-js/inc/shim/Base64.js" type="text/javascript"></script>
	<script src="midi-js/inc/shim/Base64binary.js" type="text/javascript"></script>
	<script src="midi-js/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
	<!-- midi.js package -->
	<script src="midi-js/js/midi/audioDetect.js" type="text/javascript"></script>
	<script src="midi-js/js/midi/gm.js" type="text/javascript"></script>
	<script src="midi-js/js/midi/loader.js" type="text/javascript"></script>
	<script src="midi-js/js/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="midi-js/js/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="midi-js/js/midi/plugin.webmidi.js" type="text/javascript"></script>
	<!-- utils -->
	<script src="midi-js/js/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="midi-js/js/util/dom_request_script.js" type="text/javascript"></script>

	<!-- vue.js -->
	<script src="node_modules\vue\dist\vue.js"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.css">

	<style>
		div.note {
			display: inline-block;
			padding: 5px;
			margin: 2px;
		}

		div.noteActive {
			border: 2px solid red;
		}

		div.noteInactive {
			border: 2px solid black;
		}
	</style>
</head>
<body>
	<h1>MIDI Scales Player</h1>
	<div id="app">
		<div>
			<label>Root note: </label>
			<select v-model="selectedRootNote" @change="stop">
				<option v-for="rootNote in rootNotes" v-bind:value="rootNote">
					{{ rootNote.name }}
				</option>
			</select>
			<span>Selected: {{ selectedRootNote }}</span>
		</div>
		<div>
			<label>Number of octaves</label>
			<select v-model="selectedNumberOfOctaves" @change="stop">
				<option v-for="octave in octavesList" v-bind:value="octave">
					{{ octave }}
				</option>
			</select>
			Selected: {{ selectedNumberOfOctaves }}
		</div>
		<div>
			<label>Scale: </label>
			<select v-model="selectedScaleIntervals" @change="stop">
				<option v-for="scaleInterval in scaleIntervalsList" v-bind:value="scaleInterval.intervals">
					{{ scaleInterval.name }}
				</option>
			</select>
			<span>Selected: {{ selectedScaleIntervals }}</span>
		</div>
		<div>
			<label>Tempo: </label>
			<input id="bpm" type="range" min="40" max="200" v-model="bpm" />
			<span>{{ bpm }} BPM</span>
		</div>

		<div>
			<button v-if="!running" v-on:click="start" >Start</button>
			<button v-if="running" v-on:click="stop">Stop</button>
		</div>

		<div v-for="note in scale" class="note" v-bind:class="{ noteInactive: !note.active, noteActive: note.active }">
			{{ note.degree }}: {{ note.name }}
		</div>
	</div>

	<script src="midi-scales-player.js"></script>
	<script type="text/javascript">
		var volume = 127;
		var bpm = 60;
		var velocity = 127;
		player.init({volume: volume, bpm: bpm, velocity: velocity});
	</script>
</body>
</html>
