<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!-- polyfill -->
	<script src="midi-js/inc/shim/Base64.js" type="text/javascript"></script>
	<script src="midi-js/inc/shim/Base64binary.js" type="text/javascript"></script>
	<script src="midi-js/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
	<!-- midi.js package -->
	<script src="midi-js/js/midi/audioDetect.js" type="text/javascript"></script>
	<script src="midi-js/js/midi/gm.js" type="text/javascript"></script>
	<script src="midi-js/js/midi/loader.js" type="text/javascript"></script>
	<script src="midi-js/js/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="midi-js/js/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="midi-js/js/midi/plugin.webmidi.js" type="text/javascript"></script>
	<!-- utils -->
	<script src="midi-js/js/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="midi-js/js/util/dom_request_script.js" type="text/javascript"></script>
	
	<!-- vue.js -->
	<script src="vue.js"></script>
</head>
<body>
	<div id="app">
		<div>
			<select v-model="selectedRootNote" @change="stop">
				<option v-for="rootNote in rootNotes" v-bind:value="rootNote">
					{{ rootNote.name }}
				</option>
			</select>
			<span>Selected: {{ selectedRootNote }}</span>
		</div>
		<div>
			<select v-model="selectedScaleIntervals" @change="stop">
				<option v-for="scaleInterval in scaleIntervalsList" v-bind:value="scaleInterval.intervals">
					{{ scaleInterval.name }}
				</option>
			</select>
			<span>Selected: {{ selectedScaleIntervals }}</span>
		</div>
		<div>
			<input id="speedSlider" type="range" min="500" max="2000" v-model="speed" />
			<label for="speedSlider">Speed</label>
		</div>
		
		<div>
			<button v-on:click="start">Start</button>
			<button v-on:click="stop">Stop</button>
		</div>
		
		<div v-for="playedNote in playedNotes">
			Degree: {{ playedNote.degree }}
		</div>
	</div>
	
	<script src="midi-scales-player.js"></script>
	<script type="text/javascript">
		var volume = 127;
		var speed = 500; 
		var velocity = 127;
		player.init({volume: volume, speed: speed, velocity: velocity});
	</script>
</body>
</html>